# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#ignore all user files and build folders
*.user
build/*
*debug
moc_*
gcloud*
*gcloud
melodic*
*build/
*.auto*
*Make
*.Release
*.Debug
object_script.*
